.nav-list {
    position: fixed;
    right: 15px;
    top: 25%;
    z-index: 999;
}

.nav-list .nav-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.nav-list .nav-item a {
    background-color: var(--nav-bg-color);
    align-items: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    position: relative;
    transition: all .3s ease;
}

.nav-list .nav-item a.active {
    background-color: var(--main-color);
}

.nav-list .nav-item a h2 {
    padding: 0 30px;
    background-color: var(--main-color);
    border-radius: 30px;
    position: absolute;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    right: 0;
    opacity: 0;
    z-index: -1;
    transition: all .3s ease;
}

.nav-list .nav-item a svg {
    display: block;
    font-size: 18px;
    color: var(--text-color);
    margin: 0 auto;
}

.nav-list .nav-item a:hover {
    background-color: var(--main-color);
}

.nav-list .nav-item a:hover h2 {
    opacity: 1;
    border-radius: 30px 0 0 30px;
    right: 27px;
}

@media screen and (max-width: 900px) {
    .nav-list {
        margin-right: 6px;
        left: 0;
        right: 0;
        top: unset;
        bottom: 0;
        background-color: var(--nav-bg-color);
    }

    .nav-list ul {
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;
    }

    .nav-list .nav-item a{
        background-color: #444;
        padding: 0;
        margin: 10px 0;
        font-size: 16px;
        width: 45px;
        height: 45px;
    }

    .nav-list .nav-item a h2 {
        display: none;
    }
}