.contact__wrapper {
    padding: 0 50px 80px;
    color: var(--text-color);
    display: flex;
}

.contact__info {
    width: 33.33333%;
}

.contact__info h3 {
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.contact__info p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.contact__info .contact__info-list li {
    display: flex;
}

.contact__info .contact__info-list li .icon {
    margin-right: 12px;
    margin-bottom: 16px;
    font-size: 30px;
    color: var(--main-color);
}

.contact__info .contact__info-list li span {
    opacity: 0.7;
    display: block;
}

.contact-form {
    width: 66.66667%;
}

.contact-form .field {
    margin-bottom: 2rem;
    width: 100%;
}

.contact-form .contact-form__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-form .contact-form__error {
    color: red;
    display: block;
    margin-left: 20px;
    position: absolute;
}

.contact-form input,
.contact-form textarea {
    background-color: var(--nav-bg-color);
    border: 1px solid var(--nav-bg-color);
    font-size: 16px;
    padding: 1rem 2rem;
    border-radius: 30px;
    width: 100%;
    color: var(--text-color);
    outline: none;
}

.contact-form textarea {
    min-height: 200px;
}

.contact-form .contact-form__info .contact-form__info-name,
.contact-form .contact-form__info .contact-form__info-email {
    width: calc(50% - 15px);
}


@media screen and (max-width: 1024px) {
    .contact__info h3 {
        font-size: 24px;
    }

    .contact__info p {
        font-size: 14px;
    }

    .contact__info .contact__info-list li {
        font-size: 14px;
    }

    .contact__info .contact__info-list li .icon {
        font-size: 24px;
    }
}

@media screen and (max-width: 768px) {
    .contact__wrapper {
        padding: 0px 30px 80px;
        flex-direction: column;
    }

    .contact__info {
        width: 100%;
        margin-bottom: 30px;
    }

    .contact-form {
        width: 100%;
    }
}