.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    position: relative;
    padding: 5rem 0;
}

.page-header h1 {
    font-size: 56px;
    font-weight: 900;
    color: var(--main-color);
    z-index: 10;
}

.page-header h1 span {
    color: var(--text-color);
}

.page-header>span {
    color: var(--title-bg);
    font-size: 110px;
    letter-spacing: 10px;
    line-height: .7;
    font-weight: 800;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%, -50%);
    opacity: 0.1;
    z-index: 9;
}

@media screen and (max-width: 768px) {
    .page-header {
        padding: 5rem 1rem;
    }

    .page-header h1 {
        font-size: 35px;
    }

    .page-header>span {
        font-size: 65px;
        letter-spacing: 4px;
    }
}